.curve {
  display: block;
  box-sizing: border-box;
  height: 500px;
  background-color: #dc3d4b;
  clip-path: ellipse(110% 100% at 75.38% 0%);
}

.container {
  width: 600px;
  margin: 0 auto;
  padding-top: 80px;
  font-size: 3em;
}

.out {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: rgb(30, 2, 2);
}

.myBtn {
  padding: 10px 10px;
  font-size: 40px;
}

.pass {
  width: 400px;
  float: left;
  font-size: 30px;
  color: rgb(30, 2, 2);
  margin-left: 0;
  padding: 20px;
  background-color: rgb(233, 176, 176);
}

.in {
  margin: 0;
  padding: 10px;
  float: right;
  text-align: center;
  background-color: #fff;
  color: rgb(30, 2, 2);
}
